upstream askme_server{
    server 127.0.0.1:8080;
}


proxy_cache_path /home/daniknik/tech_park_web/nginx_cache/
                    levels=1:2
                    keys_zone=askme_cache:10m
                    max_size=100m
                    inactive=60m
                    use_temp_path=off;


server{
    listen 81;
    server_name ask.me;


    location /static/ {
        alias /home/daniknik/tech_park_web/ask_me_tech_park/static/;
        expires 3d;
    }

    location /media/ {
        alias /home/daniknik/tech_park_web/ask_me_tech_park/media/;
        expires 3d;
    }

    location / {
        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        default_type "text/html; charset=utf8";

        proxy_pass http://askme_server;
    }
}

server{

    listen 80;


    location / {
        proxy_pass http://ask.me:81;

        proxy_cache askme_cache;
        proxy_cache_valid 1h;

        if ($http_cookie ~* ".+" ) {
            set $do_not_cache 1;
        }

#        proxy_ignore_headers "Set-Cookie";
#        proxy_hide_header "Set-Cookie";
        proxy_cache_bypass $do_not_cache;

    }
}
