{% extends "registration/base.html" %}

{% block registration %}

    <form action="" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label class="label" for="id_email">Enter your email to recover your password:</label>

            <input class="form-control" id="id_email" maxlength="254" name="email" required type="email">
            {% if form.email.errors %}
                <p class="alert-danger">{{ form.email.errors }}</p>
            {% endif %}
        </div>
        <button class="btn btn-primary" type="submit" >Reset password</button>
    </form>

{% endblock %}