{% extends 'base.html' %}
{% load static %}


{% block page_title %}
    <h1>QUESTION LIST</h1>
{% endblock %}


{% block content %}
    {#    {% if question_list %}#}
    {% for question in question_list %}
        <div class="card mx-auto mb-2">
            <div class="card-header">
                <h3>{{ question.title }}</h3>
            </div>
            <div class="card-body">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-2">
                            <img src="{% static 'img/placeholder_64x64.png' %} ">
                        </div>
                        <div class="col-8">
                            <p>{{ question.text }}</p>
                            <a href="{{ question.get_absolute_url }}">Read more...</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-2">
                        <form action="" class="form-group">
                            <div class="form-row align-items-center">
                                <button class="btn btn-outline-dark mx-1" href="#">+</button>
                                <button class="btn btn-outline-dark mx-1" href="#">-</button>
                            </div>
                        </form>
                    </div>

                    <div class="col-8">
                            <span>Tags:
                                <a href="#">qwe</a>
                                <a href="#">asd</a>
                                <a href="#">zxc</a>
                                <a href="#">rty</a>
                                <a href="#">dfg</a>
                            </span>
                    </div>

                </div>
            </div>
        </div>
    {% endfor %}
    {#    {% else %}#}
    {#        <h1>NO QUESTIONS AVAILABLE</h1>#}
    {#    {% endif %}#}
{% endblock %}

