{% for answer in question.answer_set.all %}
    <div class="card mb-2">
        <div class="card-header">{{ answer.author }}</div>
        <div class="card-body">{{ answer.text }}</div>
        <div class="card-footer">
            <div class="row">
                <div class="col-5">
                    <div class="container-fluid">
                        <a onclick="rateAnswer({{ answer.id }}, 1)"><i class="material-icons">thumb_up_alt</i></a>
                        <span id="a-rating-{{ answer.id }}"> {{ answer.rating }} </span>
                        <a onclick="rateAnswer({{ answer.id }}, -1)"><i class="material-icons">thumb_down_alt</i></a>
                    </div>
                </div>
                <div class="col-8">
                </div>
            </div>
        </div>
    </div>
{% empty %}
    <h3>No answers yet. Be First!</h3>
{% endfor %}