<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <meta charset="UTF-8">
    <title>{% block title %}Title {% endblock %}</title>
    {% block style %}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">AskMe</a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample07"
                aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarsExample07" style="">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="btn btn-outline-success" href="{% url 'question_create' %}"> ASK <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'question_list' %}">Questions</a>
                </li>
            </ul>

            <form class="form-inline mx-1">
                <input class="form-control" type="text" placeholder="Search" aria-label="Search">
            </form>

            <div class="my-2 my-md-0" id="userBlock">
                <ul class="navbar-nav mr-auto">
                    {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <a href="#" class="nav-link">{{ user.username }}</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'logout' %}" class="nav-link">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="{% url 'register' %}" class="nav-link">Register</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'login' %}" class="nav-link">Login</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="container my-5">
    {% block page_title %}{% endblock %}
    <div class="row mt-3">
        <div class="col-8">
            {% block content %}
            {% endblock %}
        </div>
        <div class="col-4">
            {% block rightbar %}
                <div class="card mb-2 sticky-top">
                    <div class="card-header">
                        <h3>Popular tags</h3>
                    </div>
                    <div class="card-body">
                        <div class="card-text">
                            {% for tag in tag_list %}
                                <a href="#">{{ tag }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h3>Best members</h3>
                    </div>
                    <div class="card-body">
                        <div class="card-text">
                            <ul>
                                <li>
                                    <a href="#">User 1</a>
                                </li>
                                <li>
                                    <a href="#">User 2</a>
                                </li>
                                <li>
                                    <a href="#">User 3</a>
                                </li>
                                <li>
                                    <a href="#">User 4</a>
                                </li>
                                <li>
                                    <a href="#">User 5</a>
                                </li>
                                <li>
                                    <a href="#">User 6</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>