<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <meta charset="UTF-8">
    <title>{% block title %}Title {% endblock %}</title>
</head>


<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">AskMe</a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample07"
                aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbarsExample07" style="">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <button class="btn btn-outline-success" href="#">  Home <span class="sr-only">(current)</span></button>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Disabled</a>
                </li>
            </ul>

            <form class="form-inline mx-1">
                <input class="form-control" type="text" placeholder="Search" aria-label="Search">
            </form>

            <div class="my-2 my-md-0" id="userBlock">
                <ul class="navbar-nav mr-auto">
                    {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <a href="#" class="nav-link">User</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="#" class="nav-link">Register</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Login</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>


<div class="container my-5">
    <div class="row">
        <div class="col-8">
            {% block content %}

            {% endblock %}
        </div>
        <div class="col-4">
            {% block rightbar %}

            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>